<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\AdViewer[]|\Cake\Collection\CollectionInterface $adViewers
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Ad Viewer'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Advertisements'), ['controller' => 'Advertisements', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Advertisement'), ['controller' => 'Advertisements', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="adViewers index large-9 medium-8 columns content">
    <h3><?= __('Ad Viewers') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('user_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('ad_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('viewed_at') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($adViewers as $adViewer): ?>
            <tr>
                <td><?= $this->Number->format($adViewer->id) ?></td>
                <td><?= $adViewer->has('user') ? $this->Html->link($adViewer->user->name, ['controller' => 'Users', 'action' => 'view', $adViewer->user->id]) : '' ?></td>
                <td><?= $adViewer->has('advertisement') ? $this->Html->link($adViewer->advertisement->title, ['controller' => 'Advertisements', 'action' => 'view', $adViewer->advertisement->id]) : '' ?></td>
                <td><?= h($adViewer->viewed_at) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $adViewer->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $adViewer->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $adViewer->id], ['confirm' => __('Are you sure you want to delete # {0}?', $adViewer->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
